asgiref
boto3
botocore
cement
certifi
charset-normalizer
Django
django-cors-headers
django-jazzmin
django-html5
django-recaptcha
django-storages
google-api-python-client
google-auth
google-auth-oauthlib
idna
jmespath
mysqlclient
Pillow
pydrive
pyodbc
python-dateutil
python-decouple
pytz
PyYAML
requests
s3transfer
six
sqlparse
tzdata
urllib3
wfastcgi