{% extends 'core/base.html' %}
{% load static %}
{% load my_filters %}
{% block content %}
<div class="container mt-5">
    <!-- Model Analysis -->
    <div class="mb-4">
        <h2>What is ExtraTrees?</h2>
        <p>The Extra Trees Classifier is another ensemble learning method similar to Random Forest. It builds a large number of unpruned decision trees and uses a random subset of features for splitting at each node, which enhances the diversity among the trees. This algorithm typically results in better generalization and robustness against overfitting compared to traditional decision trees. Extra Trees is efficient for handling large datasets and complex relationships, making it a valuable tool for classification tasks.</p>
    </div>

    <!-- Average Scores Section -->
    <div class="mb-4">
        <h2>Most Frequent Parameters</h2>
        <ul>
            {% for param, count in best_params %}
                <li>
                    <code>{{ param }}</code> - Count: {{ count }}
                </li>
            {% empty %}
                <p>No parameters found for this model type.</p>
            {% endfor %}
        </ul>

        <h2>Average Scores Based on Model History</h2>
        <ul class="list-group">
            <li class="list-group-item"><strong>Average Accuracy:</strong> {{ average_accuracy|floatformat:2 }}</li>
            <li class="list-group-item"><strong>Average Precision:</strong> {{ average_precision|floatformat:2 }}</li>
            <li class="list-group-item"><strong>Average Recall:</strong> {{ average_recall|floatformat:2 }}</li>
            <li class="list-group-item"><strong>Average F1 Score:</strong> {{ average_f1_score|floatformat:2 }}</li>
        </ul>
    </div>
</div>
<!-- Model History -->
<div class="container mt-5">
    <h2>ExtraTrees Model History</h2>
    <br>
    <a href="{% static 'trending/files/soundsoar_starterscript.py' %}" download>
        <button>Download Starter Script</button>
    </a>
    <br>
    {% if models %}
    <div id="accordionInactive">
        {% for model in models %}
            <div class="card mb-3">
                <div class="card-header" id="headingInactive{{ forloop.counter }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInactive{{ forloop.counter }}" aria-expanded="true" aria-controls="collapseInactive{{ forloop.counter }}">
                            Model: {{ model.model_type }} (Version: {{ model.version_number }})
                        </button>
                    </h2>
                </div>

                <div id="collapseInactive{{ forloop.counter }}" class="collapse" aria-labelledby="headingInactive{{ forloop.counter }}" data-parent="#accordionInactive">
                    <div class="card-body">
                        <h5>General Information</h5>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Model Type:</strong> {{ model.model_type }}</li>
                            <li class="list-group-item"><strong>Parameters:</strong> {{ model.best_parameters }}</li>
                            <li class="list-group-item"><strong>Create Date:</strong> {{ model.created_at|date:"F j, Y, g:i a" }}</li>
                            <li class="list-group-item"><strong>Evaluation Date:</strong> {{ model.evaluation_date|date:"F j, Y, g:i a" }}</li>
                            <li class="list-group-item"><strong>Popularity History Timeframe:</strong> {{ model.popularity_timeframe }}</li>
                        </ul>
                        <br>
                        <h5>Performance Metrics</h5>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Accuracy:</strong> {{ model.accuracy|floatformat:2 }}</li>
                            <li class="list-group-item"><strong>Precision:</strong> {{ model.precision|floatformat:2 }}</li>
                            <li class="list-group-item"><strong>Recall:</strong> {{ model.recall|floatformat:2 }}</li>
                            <li class="list-group-item"><strong>F1 Score:</strong> {{ model.f1_score|floatformat:2 }}</li>
                            {% if model.roc_auc %}
                                <li class="list-group-item"><strong>ROC AUC:</strong> {{ model.roc_auc|floatformat:2 }}</li>
                            {% endif %}
                            {% if model.confusion_matrix %}
                                <li class="list-group-item"><strong>Confusion Matrix:</strong> {{ model.confusion_matrix }}</li>
                            {% endif %}
                        </ul>
                        <br>
                        <h5>Feature Importance</h5>
                        <ul>
                            {% if feature_importance_inactive and feature_importance_inactive|get_item:model.id %}
                                {% for feature in feature_importance_inactive|get_item:model.id %}
                                    <li>{{ feature }}</li>
                                {% empty %}
                                    <li>No feature importance data available.</li>
                                {% endfor %}
                            {% else %}
                                <li>No feature importance data available.</li>
                            {% endif %}
                        </ul>
                        
                        <br>
                        <h5>File Downloads</h5>
                        <p>
                            {% if model.csv_data %}
                                <a href="{{ model.csv_data.url }}" class="btn btn-primary" download>Download CSV</a>
                            {% endif %}
                            {% if model.model_file %}
                                <a href="{{ model.model_file.url }}" class="btn btn-primary" download>Download Model File (pkl)</a>
                            {% endif %}
                            {% if model.readme_file %}
                                <a href="{{ model.readme_file.url }}" class="btn btn-primary" download>Download README TXT</a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>No inactive models found.</p>
    {% endif %}
</div>

{% endblock %}
