{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!--STYLE-->
<link href="{% static 'core/css/index.css' %}" rel="stylesheet"/>
<!-- Hero Section -->
<div class="hero-container">
    <img src="{% static 'core/img/banner.png' %}" alt="Banner" class="hero-banner">
    <div class="hero-content">
        <h1 class="display-4">Welcome to Sound Soar!</h1>
        <p class="lead">Explore and forecast the hottest tracks on Spotify using SoundSoar's cutting-edge trend analysis capabilities.</p>
        <a href="{% url 'trending:trending' %}" class="btn btn-light btn-lg">Explore Trending Songs</a>
    </div>   
</div>
<!-- Search Section -->
<div class="search-section">
    <h2 class="search-title">Search for a Song</h2>
    <div class="search-container">
        <form method="GET" action="{% url 'trending:search_spotify' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Search for tracks..." required>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}