{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<!--STYLE-->
<link href="{% static 'core/css/index.css' %}" rel="stylesheet"/>
<!-- Hero Section -->
<div class="hero-container">
    <img src="{% static 'core/img/banner.png' %}" alt="Banner" class="hero-banner">
    <div class="hero-content">
        <h1 class="display-4">Welcome to Sound Soar!</h1>
        <p class="lead">Discover and predict the popularity of trending songs from Spotify with SoundSoar’s advanced analysis tools.</p>
        <a href="{% url 'trending:trending' %}" class="btn btn-light btn-lg">Explore Trending Songs</a>
    </div>
    
</div>
<!-- Search Section -->
<div class="search-section">
    <h2 class="search-title">Predict Popularity of a Song</h2>
    <div class="search-container">
        <input type="text" class="search-bar" placeholder="Search for sounds...">
        <button class="search-button">Search</button>
    </div>
</div>
{% endblock content %}